<form class="form-signin" action="/login" method="post">
<h2 class="form-signin-heading text-center">Login</h2>
<br>

<input type="email"name="email"class="form-control" placeholder="email" required="true" autofocus="">
<br>

<input type="password"name="password"class="form-control" placeholder="password" required="true">
<br>
<button type="submit" class=" btn btn-primary btn-block btn-lg">Sign In</button>
</form>